.create-session-wrapper {
  flex: 1 0 auto;
  padding: 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #000;
  color: white;
  max-height: 100vh;
  overflow-y: auto;
}

.create-session-top {
  display: flex;
  justify-content: flex-end;
}

.run-session-button {
  position: relative;
  color: white;
  padding: 1.2rem 4rem;
  font-size: 1.6rem;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #20243f 0%, #3d485b 100%);
  border: 2px solid rgba(33, 90, 110, 0.4);
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}

.run-session-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0b1035;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.run-session-button:hover::before {
  opacity: 1;
}

.run-session-button:hover {
  box-shadow: 0 0 15px rgba(33, 90, 110, 0.6);
  transform: translateY(-2px);
}

.run-button-icon {
  height: 20px;
  width: 20px;
  z-index: 2;
}

.create-session-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.create-session-form {
  flex: 1 1 500px;
  max-width: 800px;
  width: 48%;
  padding: 1.5rem;
  background-color: #000;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.details-card {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2px;
}
.details-card-p {
  font-size: 2rem;
  font-weight: 300;
}
.details {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(126, 126, 126, 0.616);
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.details-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.details-box p {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: 200;
}
.details-icon {
  height: 18px;
}
.details-img {
  border: 1px solid rgb(117, 117, 117);
  border-radius: 50%;
  box-shadow: 0 4px 16px rgba(68, 68, 68, 0.664);
}
.details-img img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.form-card {
  margin-top: 6px;
  height: 75%;
  width: 100%;
  /* background: radial-gradient(circle at 10% 20%, #011724 20%, transparent 40%),
    radial-gradient(circle at 80% 30%, #182430 20%, transparent 70%),
    radial-gradient(circle at 50% 80%, #47161d 15%, transparent 60%), #0f2938;
  background-blend-mode: screen; */
  /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4); */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 10px;
}
.form-card-top {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}
.form-card-top p {
  font-size: 2rem;
  text-align: center;
  word-break: break-word;
  max-width: 100%;
  margin-top: 20px;
}
.form-card-btm {
  height: 95%;
  width: 100%;
  border-radius: 2px;
  padding: 2rem;
  box-shadow: 0 4px 16px rgb(92, 92, 92);
  background-color: #111;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Start & Finish Line Fields */
.form-group.readonly-with-button {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input-button-wrapper {
  display: flex;
  align-items: center;
  background-color: #1b1b1b;
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.8),
    inset -2px -2px 6px rgba(77, 77, 77, 0.651);
  border-radius: 10px;
  overflow: hidden;
  padding: 0.2rem 0.4rem;
}

.input-button-wrapper input {
  flex: 1;
  padding: 1.2rem 1rem;
  font-size: 1.2rem;
  border: none;
  background: transparent;
  color: #ccc;
  outline: none;
  cursor: not-allowed;
  font-family: inherit;
}

.select-btn {
  display: flex;
  border-radius: 10px;
  align-items: center;
  gap: 0.8rem;
  padding: 0 1.2rem;
  font-size: 1.2rem;
  background-color: #3b3b3b;
  color: #ccc;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  height: 80%;
}

.select-btn:hover {
  background-color: #555;
}

.static-label {
  font-size: 1.4rem;
  color: #ffffff;
}

/* 2-column Row */
.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.form-row.split {
  gap: 4rem;
}

.input-column {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex: 1 1 240px;
}

/* Side Label Fields */
.form-group.side-label {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.form-group.side-label label {
  width: 110px;
  font-size: 1.4rem;
  color: #ffffff;
}

.input-icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon-wrapper .custom-input {
  width: 120px;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  font-size: 1.2rem;
  background-color: #1b1b1b;
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.8),
    inset -2px -2px 6px rgba(77, 77, 77, 0.651);
  color: white;
  outline: none;
  padding-right: 2.5rem; /* Make room for the icon */
}

.icon-inside-input {
  position: absolute;
  right: 10px;
  height: 16px;
  width: 16px;
  pointer-events: none;
  opacity: 0.8;
}
.form-group.side-label input {
  flex: 1;
  width: 120px;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  font-size: 1.2rem;
  background-color: #1b1b1b;
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.8),
    inset -2px -2px 6px rgba(77, 77, 77, 0.651);
  color: rgb(255, 255, 255);
  outline: none;
}
.time-picker-wrapper {
  position: relative;
  width: 100%;
  max-width: 160px;
}

/* Adjust icon inside timepicker */
.time-picker-wrapper .icon-inside-input {
  position: absolute;
  top: 50%;
  right: 10px; /* move slightly left for balance */
  transform: translateY(-50%);
  height: 14px; /* smaller size */
  width: 14px;
  pointer-events: none;
  opacity: 0.7;
  z-index: 10;
}

/* Improve alignment and box design */
.react-time-picker {
  width: 100%;
}

.react-time-picker__wrapper {
  background-color: #1b1b1b;
  border: none;
  border-radius: 8px;
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.8),
    inset -2px -2px 6px rgba(77, 77, 77, 0.651);
  padding: 0.6rem 2.2rem 0.6rem 0.6rem;
  display: flex;
  align-items: center;
}

/* Input style inside TimePicker */
.react-time-picker__inputGroup {
  display: flex;
  gap: 0.4rem;
  color: white;
  margin-right: 6px;
}

.react-time-picker__inputGroup__input {
  background: transparent;
  color: white;
  border: none;
  font-size: 1.2rem;
  width: 36px;
  text-align: center;
  outline: none;
}

.react-time-picker__inputGroup__divider {
  color: #aaa;
  align-self: center;
}
/* Position your custom icon */
.input-icon-wrapper .icon-inside-input {
  position: absolute;
  right: 10px;
  height: 16px;
  width: 16px;
  pointer-events: none;
  opacity: 0.8;
}

/* Input with unit suffix (like km/hr) */
.input-with-unit {
  display: flex;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.8),
    inset -2px -2px 6px rgba(77, 77, 77, 0.651);
  background-color: #1b1b1b;
}

.input-with-unit input {
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  outline: none;
  color: white;
  background: transparent;
  width: 80px;
}

.unit-label {
  background-color: #555;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.custom-select {
  padding: 1rem;
  border-radius: 8px;
  border: none;
  font-size: 1.2rem;
  background-color: #1b1b1b;
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.8),
    inset -2px -2px 6px rgba(77, 77, 77, 0.651);
  color: white;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 120px;
}

/* Distance Box */
.distance-box {
  width: 240px;
  background-color: #111;
  border-radius: 12px;
  flex: 1 1 240px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.575);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.polyline-preview img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.distance-label {
  font-size: 1.4rem;
  color: #ffffff;
  letter-spacing: 1px;
}

.distance-pill {
  background: #3c3c3c;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  color: white;
  font-size: 1.2rem;
}

.create-session-button {
  align-self: center;
  margin-top: 2px;
}

.shared-create-button {
  position: relative;
  color: white;
  padding: 1.2rem 4rem;
  font-size: 1.6rem;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #20243f 0%, #3d485b 100%);
  border: 2px solid rgba(33, 90, 110, 0.4);
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}

.shared-create-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0b1035;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.shared-create-button span {
  position: relative;
  z-index: 2;
}

.shared-create-button:hover::before {
  opacity: 1;
}

.shared-create-button:hover {
  box-shadow: 0 0 15px rgba(33, 90, 110, 0.6);
  transform: translateY(-2px);
}

.button-icon {
  height: 20px;
  width: 20px;
  z-index: 2;
}

.create-session-map {
  width: 65%;
  height: 100%;
  background-color: aqua;
  overflow: hidden;
}

.create-session-form {
  width: 35%;
  padding: 0 2rem;
  background-color: #000;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.create-session-map {
  width: 65%;
  height: 100%;
  background-color: aqua;
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(220, 220, 220, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.success-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(55, 55, 55, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-modal-box {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background-color: #000;
  padding: 4rem 3rem;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 600px;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.success-message {
  margin: 0;
  font-size: 1.6rem;
}

.success-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-error-message {
  color: red;
  font-weight: 500;
  margin-top: 1rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .create-session-main {
    flex-direction: column;
    gap: 2rem;
  }
  .create-session-form,
  .create-session-map {
    width: 100%;
    padding: 1.5rem;
  }
  .form-card {
    margin-bottom: 6rem; /* give space to modal if opened */
  }

  .form-row.split {
    flex-direction: column;
    gap: 2rem;
  }

  .distance-box {
    width: 100%;
  }

  .details {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .details-img img {
    height: 80px;
    width: 80px;
  }
}
@media (max-width: 768px) {
  .form-group.side-label {
    flex-direction: column;
    align-items: flex-start;
  }
  .form-group.side-label label {
    width: auto;
    margin-bottom: 0.4rem;
  }
  .run-session-button,
  .shared-create-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }
  .details-box p {
    font-size: 1.4rem;
  }
}
@media (max-width: 480px) {
  .run-session-button,
  .shared-create-button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }
  .form-card-btm {
    padding: 1rem;
  }
  .details-img img {
    height: 80px;
    width: 80px;
  }
  .details-box p {
    font-size: 1.2rem;
  }
}
