.leaflet-map-container {
  flex: 1 1 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #000000;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
  width: 48%;
  padding: 1rem;
  height: auto;
}

.top-prompt {
  background-color: #000000;
  color: white;
  padding: 0.6rem 1rem;
  text-align: center;
  border-radius: 8px;
  font-size: 1.8rem;
  word-break: break-word;
}

.map-box {
  flex: 1;
  width: 100%;
  max-width: 800px;
  height: 300px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  /* box-shadow: 0 0 20px rgb(255, 255, 255); */
}

.leaflet-map {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

/* Tablet View */
@media screen and (max-width: 1024px) {
  .leaflet-map-container {
    width: 100%;
    padding: 2rem 1.5rem;
    height: 400px;
  }

  .map-box {
    width: 100%;
    border-radius: 10px;
  }

  .top-prompt {
    font-size: 1.5rem;
  }
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .leaflet-map-container {
    padding: 1rem;
    height: 360px;
    width: 100%;
  }

  .top-prompt {
    font-size: 1.3rem;
    padding: 0.5rem;
  }

  .map-box {
    width: 100%;
  }
}

/* Small Phones */
@media screen and (max-width: 480px) {
  .leaflet-map-container {
    height: 320px;
    padding: 0.8rem;
  }

  .top-prompt {
    font-size: 1.2rem;
  }
}
