.login-box {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: #2b2b2b;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000088;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.login-box h2 {
  font-size: 3rem;
  margin-bottom: 2.4rem;
}

.login-box p {
  font-size: 1.8rem;
  color: #ccc;
  margin-bottom: 1.2rem;
}

.login-auth-switch {
  font-size: 1.4rem;
  color: #ccc;
  margin-bottom: 1rem;
  font-weight: 400;
}

.login-auth-switch a {
  color: rgb(184, 26, 99);
  cursor: pointer;
}

.login-divider {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 3rem 0;
}

.login-divider hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #aaa;
}

.login-divider-icon {
  font-size: 1rem;
  color: #aaa;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login-form input {
  width: 100%;
  padding: 2rem 1rem;
  font-size: 1.4rem;
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #555;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s;
}

.login-form input:focus {
  border-color: #00bcd4;
  box-shadow: 0 0 5px rgba(0, 188, 212, 0.5);
}

.login-password-wrapper {
  position: relative;
}

.login-toggle-password {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
}

.login-form-links {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 200;
}

.login-form-links a {
  color: #fff;
  text-decoration: underline;
}

.login-button {
  position: relative;
  color: white;
  padding: 1.6rem 4rem;
  font-size: 1.6rem;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #20243f 0%, #3d485b 100%);
  border: 2px solid rgba(33, 90, 110, 0.4);
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
  width: 100%;
}

.login-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0b1035;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.login-button span {
  position: relative;
  z-index: 2;
}

.login-button:hover::before {
  opacity: 1;
}

.login-button:hover {
  box-shadow: 0 0 15px rgba(33, 90, 110, 0.6);
  transform: translateY(-2px);
}

@media (max-width: 600px) {
  .login-box {
    padding: 1.5rem;
  }

  .login-button {
    font-size: 1.4rem;
    padding: 1.4rem 2rem;
  }

  .login-form-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
#login-error-message {
  color: #ff4d4d;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

#login-success-message {
  color: #4caf50;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
}
